.boardContainer {
    display: flex;
    margin: 15px;
}
.boardItemContainer{
    flex : 0 0 33.333333%;
    text-align: center;
}
.boardItem{
    display: flex;
}
.title  {
    flex : 0 0 70%
}
.user {
    flex : 0 0 30%
}