.ticketListContainer {

  .ticketTitle {
    font-size: 40px;
  }

  .ticketListItems {
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    .listItem {
      display: flex;
      margin-bottom: 15px;
      align-items: center;
      border: 1px solid black ;
      padding: 20px 30px;
      border-radius: 15px;
      min-height: 110px;
      &:hover{
        background-color: rgb(253 238 238 / 50%);
        color: teal;
      }
      .col-xs-3 {
        display: flex;
        flex: 0 33.3333333%;
        text-align: center;

      }
      .col-xs-6 {
        flex: 0 0 67.3333333%;
      }

    }
  }
}
